body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 55px;
}

.orange-color{
    color: chocolate;
}

.felxible-conntainer{
    display: flex;
    margin-bottom: 100px
    ;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width image{
    width: 80%;
}
p{
    text-align: justify;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(202, 226, 202), green);
    padding: 10px 40px;
    border-radius: 5px;
    color:black;
    font-weight: 700;

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.green-color{
    color: chartreuse;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 10px 10px 8px 10px #888888;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background position: left;
}

#web-dev-ex{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}

#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(red,tomato);
    border-image-slice: 1;
}

footer p{

    text-align: center;
}